.user-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 25px;
  left: 0;
  width: 240px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  z-index: 100;
}

.login-button {
  display: block;
  width: 100%;
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-button:hover {
  background: #333;
}

.register-box {
  padding: 15px;
  font-size: 14px;
  color: #555;
}

.register-link {
  color: #555;
  text-decoration: underline;
}

.register-link:hover {
  color: black;
}
